.cart_item{
	align-items: center;
	width: 650px;
	display: grid;
	grid-template-columns: 145px 1fr;
	border-bottom: 1px solid rgb(236, 234, 234);
    padding: 5px;
}


.cart_description{
	display: flex;
	justify-content: space-between;
	height: 80%;
	font-size: 13px;
	font-weight: 600;
	flex-direction: column;
	padding: 15px 30px;
}

.cart_img_block{
	padding: 5px;
	
	
}

.cart_text{
	display: flex;
	justify-content: space-between;

}

.cart_img{

	width: 130px;
	height: 130px;
	object-fit: contain;
}

.counter_btns{
	display: flex;
}

.cart_btns{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

  .counter_btn{
	border: none;
	background: rgb(231, 229, 229);
	padding: 5px;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.cart_row{
	display: flex;
	justify-content: space-between;
	color: gray;
	font-weight: 500;
	font-size: 11px;
}

.delete_btn{
	background: none;
	font-size: 10px;
	font-weight: 600;
	border: none;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: left;
	transition: all .5s ease-in;
}

.delete_btn:hover{
	color: black;
	scale: 1.02;
}

.delete_btn_icon{
	font-size: 8px;
	margin-right: 5px;
}
